DB_URL=jdbc:mysql://localhost:3306/ecommerce_application?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=86400000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

APP_RESET_PASSWORD_URL=http://localhost:5173/reset-password